* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .usluge {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
} */

.image {
    height: 100vh;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("../../Images/usluge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.greeting {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    position: absolute;
    top: 400px;
    left: 10em;
}

#homeIcon{
    display: inline-block;
    width: 2em;
}


.dostava{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

/* .questions{

    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3em;

} 

.dropdown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

#dropdown-h1{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
text-align: center !important;
margin-bottom: 1em;
font-family: serif; 
}

.Collapsible {
display: flex !important;
flex-direction: column;
justify-content: center !important;
align-items: center !important;
    background-color: transparent;
    margin: 1em;
    width: 80%; 
    position: relative;  
    left:80px;   
   }
  
  
  .Collapsible__contentInner {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 67.3%;
    padding: 10px;
    border: 1px solid lightGrey;
    border-top: 0;
     
    
  }
   .Collapsible__contentInner p {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 20px;
        color: black !important; 
   }
  
      :last-child {
         margin-bottom: 0; 
      }
    
  
  
  .Collapsible__trigger {
     display: block;
    font-weight: 400;
    position: relative;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 1px solid white;
    padding: 10px;
    background:#cbb89d !important;
    color: white;
    font-size: 24px;
    width: 1000px;
    text-align: center; 
    
  }
  
    :after {
       font-family: 'FontAwesome';
      
      position: absolute;
      right: 10px;
      top: 10px;
      display: block;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      transition: transform 300ms; 
    }
  
    
    
  
    .is-disabled {
       opacity: 0.5;
      background-color: grey; 
    }
  
  
  .CustomTriggerCSS {
     background-color: lightcoral;
    transition: background-color 200ms ease; 
    
    
  }
  
  .CustomTriggerCSS--open {
    background-color: darkslateblue;
  }
  
  .Collapsible__custom-sibling {
     padding: 5px;
    font-size: 12px;
    background-color: #CBB700;
    color: black; 
  } */