*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.delivery{
    width: 100%;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.delivery-flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.delivery-img{
    width: 20em;
    height: 13em;
    background-color: aqua;
    margin: 10px;
}

.delivery-text{
    width: 20em;
    height: 13em;
    background-color: aqua;
    margin: 10px;
}
