* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-kontakt {
    position: relative;
    width: 100%;
    height: auto;
}

.kontakt-image {
    width: 100%;
    height: 100vh;
    /* margin-bottom: 5%; */
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("../../Images/kontakt-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.kontakt-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

.infoDiv-text {
    width: 50em;
    height: 30em;
    background-image: url("../../Images/kurirblend.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.kontakt-box {
    width: 50em;
    height: 30em;
    display: flex;
    flex-direction: column;
}

.kontakt-box h3 {
    text-align: center;
}

#infoDiv-p {
    text-align: left;
}

.form-div {
    display: flex;
    flex-direction: column;
}

#message-box {
    display: inline-block;
    width: 34em;
    height: 10em;
    background-color: rgba(216, 213, 213, 0.747);
    border-radius: 2px;
}

#name {
    width: 16em;
    background-color: rgba(216, 213, 213, 0.747);
    border-radius: 2px;
}

.nameSurname {
    display: flex;
    justify-content: center;
}

#email {
    width: 34em;
    background-color: rgba(216, 213, 213, 0.747);
    border-radius: 2px;
}

#checkbox {
    width: 2em;
}

.check-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    
  display: flex !important;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#kontaktBox-h3 {
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}