*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.kontakt{
    position: relative;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
} 

.image {
    height: 100vh;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
   /* background-image: url("../../Images/kontakt.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.main-title {
    font-size: 4rem;
    font-weight: 500;
    text-align: left;
    color: white;

}

button {
    width: 350px;
    height: 30px;
    background-color: transparent;
    color: white;
}

.greeting {
    position: absolute;
    top: 400px;
    left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-right: 0;
}

.mainDiv-contact {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.infoDiv-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #e2c7a8;
}

.contact-form{
    margin-top: 30px;
  }
    .input-block{
        background-color: rgba(white, .8);
        border: solid 1px black;
        width: 100%;
        height: 60px;
        padding: 25px;
        position: relative;
        margin-bottom: 20px;
    }
       
        textarea{
            height: auto;
        }
            .form-control{
                height: auto;
                resize: none;
            }
        
        label{
            position: absolute;
            left: 25px;
            top: 25px;
            display: block;
            margin: 0;
            font-weight: 300;
            z-index: 1;
            color: black;
            font-size: 18px;
            line-height: 10px;
        }
        .form-control{
            background-color: transparent;
            padding: 0;
            border: none;
            height: auto;
            position: relative;
            z-index: 2;
            font-size: 18px;
            color: black;
        }
        
    .square-button{
        background-color: rgba(white, .8);
        color: black;
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        padding: 0 60px;
        height: 60px;
        border: none;
        width: 100%;
    } */

.input {
    display: inline-block;

}

textarea {
    display: inline-block;
    width: 100%;
    height: 7em;
}

.nameSurname {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#email {
    width: 100%;
}

label {
    display: flex;
    align-items: center;
}

input[type=checkbox] {
    flex: none;
}

#checkbox {
    display: inline-block;

}


button {
    display: block;
    width: 80%;
    margin: 30px;
}

.form-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 0;
}

form {
    width: 80%;
    line-height: 3em;
    margin: 0;
    padding: 0;
}

.contact-box {
    width: 30%;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

input {
    height: 2.5em;
}

.buttons {
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

#name {
    width: 210px;
}

h4{
    margin-bottom: 20px;
}

.main-image{
    position: relative;
    height: 100vh;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 100%;
  /* background-image: url("../../Images/kontakt.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.nonImageDiv{
    position: absolute;
    top: 15em;
    left: 40em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:30em;
}

.callInfo{
   
    display: flex;
    justify-content: space-around;
}

.viber {
    display: flex;
    justify-content: center;
 border-right: 1px solid white;
    margin-right: 1em; 
}

.phone{
    display: flex;
    justify-content: center;
    border: none;
}

.title{
    font-size: 30px;
}

h2{
   font-size: 3em;
}

.lastThreeDivs{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.lastDiv{
    width: 30em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    background-color: rgb(223, 198, 247);   
    padding: 2em;
}

h4, p {
    margin-bottom: 3em;
}

