*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image {
    height: 100vh;
    /* margin-bottom: 5%; */
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("https://th.bing.com/th/id/R.650e07c19a4dec3ce5733545ac00fc97?rik=GoCmh8Zd%2bOu9gQ&riu=http%3a%2f%2fwww.prochecking.com%2fassets%2fimages%2fwhy%2fles-resultats.jpg&ehk=%2bW825XFWejf4jydbpXIPzMR97DyWJB0Wt4lhfpd9l%2f0%3d&risl=&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .image {
    height: 100vh;
    /* margin-bottom: 5%; */
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("https://th.bing.com/th/id/R.650e07c19a4dec3ce5733545ac00fc97?rik=GoCmh8Zd%2bOu9gQ&riu=http%3a%2f%2fwww.prochecking.com%2fassets%2fimages%2fwhy%2fles-resultats.jpg&ehk=%2bW825XFWejf4jydbpXIPzMR97DyWJB0Wt4lhfpd9l%2f0%3d&risl=&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
 
.main-title{
    font-size: 4rem;
    font-weight: 500;
    text-align: right;
    
  }

  button{
      width: 150px;
      height: 30px;
  }

  .greeting{
      position: absolute;
      top: 400px;
      right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: flex-end;
      margin-right: 0;
  }

  .divWrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 8em;
    padding-right: 8em;
    margin-top: 5em;
    margin-bottom: 5em;
  }

  .singleDiv{
    width: 40em;
    height: 40em;
    border: 1px solid black;
    margin-bottom: 5em;
  }