* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    height: 25em;
    background-color: #bfad93;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
}

#img-lokacija {
    width: 3em;
}

#img-mail {
    width: 2em;
    margin-right: 1em;
}

#img-tel {
    width: 1.5em;
    margin-right: 1em;
    margin-left: 0.3em;
}

.footerLogo {
    width: 9em;
    display: flex;
    align-items: flex-start;
}

.logo {
    padding-top: 2em;
    height: 20em;
    padding-left: 10em;
    border-right: 1px solid white;
}

.logoDiv {
    width: 30em;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#lokacija {
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#mail {
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#telefon {
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.usluge {
    width: 50em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-right: 1px solid white;
    padding-left: 2em;
    /* padding-top: 1.2em; */
}

.usluge2 {
    width: 50em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-right: 1px solid white;
    padding-left: 2em;
    /* padding-top: 1em; */
}

.kontakt {
    width: 90em;
    height: 20em !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    /* padding: 2em; */
    color: white;
    padding-left: 2em !important;
    padding-left: 0;
}

.h4-usluge {
    color: white;
    margin-bottom: 0.5em;

}

.h3-kontakt {
    color: white;
    margin: 0;
    margin-bottom: 0.5em;
    display: flex;
    align-items: flex-start;
}

.btn-kontakt {
    width: 14em;
    height: 3em;
    color: white;
    margin: 0;
    border: none;
    background-color: rgb(223, 58, 58);
    border-radius: 3px;
}

.media-btns {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.kontakt-infoDiv {
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}