* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    height: 20em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#b7a28f;
    /* padding: 0.5%; */
    color: white;
}

p {
    display: inline-block;
}

.info {
    
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid white;
    padding-top: 20px;
}

.kontakt-info {
    padding-top: 0.5em;
    height: 8em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1em;
}

.usluge {
    width: 20%;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border-right: 1px solid white;
    padding-left: 2em;
    padding-top: 20px;
}

.informacije {
    width: 20%;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border-right: 1px solid white;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}

.kontakt {
    width: 30em;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding-left: 20px;
    padding-top: 3em;
}

.logo-pic{
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#locationLogo{
    
    top:0;
    left: 0;
    width: 3em;
}

.footerLogo{
    
    top:0;
    left: 0;
    width: 10em;
}

#emailLogo{
    width: 2em;
}

#phoneIcon{
    width: 1.8em;
}

.info-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h3-footer{
    margin: 0;
    color: white;
}

.kontakt-btn{
width: 12em;
color: white;
border: none;
background-color: rgb(184, 40, 40);
margin-top: 3em;
}

#kontakt-p{
    margin-top: 2em;
}