*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer{
    
    width: 100%;
    height: 20em;
    background-color: rgb(95, 59, 14);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#img-lokacija{
    width: 4em;
}

#img-mail{
    width: 3em;
    margin-right: 1em;
}

#img-tel{
    width: 2em;
    margin-right: 1.8em;
}

.footerLogo{
    width: 9em;
    display: flex;
    align-items: flex-start;
   
}

.logo{
    padding-top: 2em;
    height: 20em;
    padding-left: 10em;
    border-right: 1px solid white;
}

.logoDiv{
    width: 30em;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

#lokacija{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mail{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

#telefon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usluge{
    width: 50em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-right: 1px solid white;
    padding-left: 2em;
    padding-top: 2em;
}

.usluge2{
    width: 50em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-right: 1px solid white;
    padding-left: 2em;
    padding-top: 2em;
}

.kontakt{
    width: 90em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2em;
    
}

.h4-usluge{
    margin-bottom: 0.5em;
}

.h3-kontakt{
    margin:0;
}

.btn-kontakt{
    margin:0;
}