*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.callCentar{
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: rgb(173, 173, 153);
    background-image: url("../../Images/imageofdelivery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5em;
}

.callCentar-card{
    position: absolute;
    right: 6em;
    top: -4em;
    width: 40em;
    height: 44em;
    /* background-color: rgb(248, 255, 210);
    border: 1px solid black; */
    background-image: url("../../Images/callcentarImg.jpg");
    background-size: cover;
    border: 1px solid rgba(173, 155, 140, 0.705);
}

#img-of-delivery{
    width: 100%;
    height: 100vh;
}

@media only screen and (min-width : 320px) {
    .callCentar{
        position: relative;
        width: 100%;
        height: 80vh;
        background-color: rgb(173, 173, 153);
        background-image: url("../../Images/imageofdelivery.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 5em;
    }
    
    .callCentar-card{
        position: absolute;
        right: 6em;
    top: -4em;
    width: 40em;
    height: 44em;
        /* background-color: rgb(248, 255, 210);
        border: 1px solid black; */
        background-image: url("../../Images/callcentarImg.jpg");
        background-size: cover;
        border: 1px solid rgba(173, 155, 140, 0.705);
    }
    
    #img-of-delivery{
        width: 100%;
        height: 100vh;
    }
    
}