*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table{
    width: 100rem;
    height: 70vh;
    border-spacing: 0 5px;
}
tr:nth-child(even){
    background-color: #ece9e9;
    
}
tr:nth-child(odd){
    background-color: #dad8d8;
    
}
/* td{
    border-right: 0.5px solid rgb(131, 131, 131);
} */
.danasZaSutra{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainTitle{
    width: 100rem;
    height: 3rem;
    background-color: #b59f80;
    color: white;
}