@font-face {
  font-family: "Merriweather";
  src: local("Merriweather"), url("./fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
}
.local {
  font-family: "Merriweather", sans-serif;
}

body {
  margin: 0;
  font-family: "Merriweather";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

