*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.pic-of-news1{
    width: 26em;
    height: 22em;
    background-image: url("../../Images/placanje.jpg");
    background-size: cover;
    align-self: flex-start;
   
}

.text{
    width: 15em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: left;
    margin-left: 6em;
}

.text-wrapp{
    width: 10em;
    height: 30em;
    text-align: justify;
  }

  .newsSliderP{
    display: inline-block;
    width: 10em;
    text-align: left;
  }

  @media screen and (min-device-width: 320px) and (max-device-width: 600px) {

    .pic-of-news1{
    width: 20em;
    height: 17em;
    background-image: url("../../Images/placanje.jpg");
    background-size: cover;
    align-self: flex-start;
   
}

.text{
    width: 15em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: left;
    margin-left: 6em;
}

.text-wrapp{
    width: 10em;
    height: 30em;
    text-align: justify;
  }

  .newsSliderP{
    display: inline-block;
    width: 10em;
    text-align: left;
  }
  }