* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .usluge {
    position: relative;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
} */

.image-uslugee {
    height: 100vh;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("../../Images/usluge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.greeting {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    position: absolute;
    top: 400px;
    left: 10em;
}

#homeIcon{
    display: inline-block;
    width: 2em;
}


.dostava{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

.uslugeMenu{
  position: relative;
  margin-bottom: 3em;
  width: 100%;
  height: 50em;
 display: flex;
  justify-content:center;
  align-items: center;
  background-image: url("../../Images/usluge33333.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


