* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homepage {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.image {
    height: 100vh;
    /* margin-bottom: 5%; */
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-image: url("../../Images/Video-Flex-kurirska-sluzba\ 4K.mp4"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

video {
    width: 100%;
}

.main-title {
    font-size: 4rem;
    font-weight: 500;
    text-align: right;
    color: white;

}

button {
    width: 150px;
    height: 30px;
}

.greeting {
    position: absolute;
    top: 400px;
    right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    margin-right: 0;
}

iframe {
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: fill;
}

#posaljiPakete-btn{
background-color: #ed2930;
border: none;
color: white;
border-radius: 2px;
margin-top: 1em;
width: 180px;
height: 40px;
}

#second-span{
    font-size: 0.7em;
}

video {
    object-fit: cover;
    margin: 0 !important;
    -webkit-transform: scaleX(2); 
    -moz-transform: scaleX(2);
}


video:-webkit-full-page-media {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    margin: 0 !important;
}