*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .acc{
    background-color: beige;
    
} */

.containerAcc{
    width: 45%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
    height: 40em;
    z-index: 2;
}

.wrapper{
    display: flex;
    flex-direction: column;
    background-color: #bcaf9a;
    margin-bottom: 20px;
    padding: 15px 40px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(207, 192, 192, 0.118);
    height: auto;
    box-shadow: 0 10px 10px rgba(207, 192, 192, 0.118);
    cursor: help;
}




.content2{
    position: relative;
    text-align: justify;
    height: 0;
    overflow: hidden;
    transition: all 1s;
    background-color: transparent;
    width: 100%;
    color: rgb(255, 255, 255);
 
}

.toggle{
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: help;

}

#toggleStyle{
    font-weight: 800;
    font-size: 1em;
    text-align: center;
}


/* .dropdown-wrapper{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
} */
/* 
.wrapper2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} */



#dodatneUslugeH3-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #df3a3a;
    margin-bottom: 20px;
    padding: 15px 40px;
    border-radius: 5px;
    box-shadow: 0 30px 30px rgba(207, 192, 192, 0.118) !important;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: help;
    
}

#mainWrapperDiv{
   visibility: hidden;
    background-color: #8c8d9055 !important;
    box-shadow: 0 10px 10px rgba(223, 216, 216, 0.063) !important;
   
}

#btn-span{
    font-weight: 800;
    font-size: 1.2em;
    text-align: center;
    
}

.arrowDropdown {
    
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor:grab;
  }
  
  .rightDropdown {
    transform: rotate(90deg);
    -webkit-transform: rotate(45deg);
    position:absolute;
    top: 21.5em;
    right: 2em;
  }
  
  